@import "tailwindcss";




@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


/* body {
  font-family: "NeueMontreal";
} */



/* index.css or App.css */
body {
  font-family: "Nunito Sans", sans-serif;
}


/* h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
} */

p {
  font-family: "DM Sans", sans-serif;
}

/* Add the rest of your styles here... */

